@import "tailwindcss";
@import "@flaticon/flaticon-uicons/css/regular/rounded.css";
@import "@flaticon/flaticon-uicons/css/thin/rounded.css";
@import "@flaticon/flaticon-uicons/css/solid/rounded.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
